<footer>
    <div class="footer_top">
       <div class="footer_overlay">
          <div class="container">
             <div class="footer_logo text-center"><a aria-current="page" class="active" href="/"><img src="/image/logo/Bhavy Computer.png" width="200" alt="Invoicing Software"></a></div>
             <div class="text-center">
                <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 flex-wrap">
                   <li class="position-relative"><a aria-current="page" class="px-3 active" href="/"> Home</a><span class="oblic position-absolute">|</span></li>
                   <li class="position-relative"><a class="px-3" href="/invoice-generator">Invoice</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <div class="footer_bottom">
       <div class="container d-flex align-items-center justify-content-between">
          <div class="text-center copyright pt-3 pb-3">© <%= new Date().getFullYear()%> | Bhavy Computer | All Rights Reserved</div>          
       </div>
    </div>
 </footer>