<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thank You</title>
    </head>
    <body>
        <div style="width: 900px; margin: 0 auto; border: 1px solid black; padding: 20px;"><main>
            <section className='thankyou_top'>
              <div className="container thank_containt">
                <div className="thank_left text-center">
                  <h2 className='font-weight-bold'>Thank You!</h2>
                  <h6>For Using Our Website</h6>
                </div>
              </div>
            </section>
            <section className="download">
              <div className="container d-flex justify-content-between align-items-center thankyou">
                <div className='invoice'>To Download Click Here</div>
                <div><a   className='btn'>Download</a></div>
              </div>
            </section>
          </main>
    </body>
</html>