<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>

<main>
   <section class="review_hero d-flex align-items-center">
      <div class="container">
         <h2 class="text-capitalize text-white text-center font-size fw-bold">FAQ’s</h2>
      </div>
   </section>
   <section>
      <div class="faq-page">
         <section class="info_sec sec-padding">
            <div class="container">
               <div class="accordion" id="accordionExample">
                  <div class="row">
                     <div class="col faq_question">
                        <div class="col-lg-12 mb-2">
                           <div class="item d-flex flex-column h-100">
                              <div class="accordion-card-header" id="headingOne"><button class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">How much does it cost to use your invoice Invoicing Software?<i class="fa-solid fa-caret-up"></i></button></div>
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                 <div class="accordion-item-content">The Invoicing Software is free to use for both personal and commercial use. Use it as often as you’d like, share it with your colleagues, or post a link to it from your blog.</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                           <div class="item d-flex flex-column h-100">
                              <div class="accordion-card-header" id="headingTwo"><button class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Are these bills okay for tax purposes?<i class="fa-solid fa-caret-up"></i></button></div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                 <div class="accordion-item-content">Although these bills do have the information required for general tax purposes, we recommend that you contact your tax professional before using them as official documentation.</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                           <div class="item d-flex flex-column h-100">
                              <div class="accordion-card-header" id="headingThree"><button class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Is Invoicing Software app available?<i class="fa-solid fa-caret-up"></i></button></div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                 <div class="accordion-item-content">No, Curruntly our application is not available, but you can manage your bills and finances from the web.</div>
                              </div>
                           </div>
                        </div>
                     </div>        
                     <div class="col faq_question">
                        <div class="col-lg-12 mb-2">
                           <div class="item d-flex flex-column h-100">
                              <div class="accordion-card-header" id="headingFifth"><button class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">How secure is Invoicing Software?<i class="fa-solid fa-caret-up"></i></button></div>
                              <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth" data-parent="#accordionExample">
                                 <div class="accordion-item-content">Invoicing Software guarantees complete data security. Our data centers are hosted in completely secure locations and is protected from physical and logical attacks.</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                           <div class="item d-flex flex-column h-100">
                              <div class="accordion-card-header" id="headingSix"><button class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">What is utility bill?<i class="fa-solid fa-caret-up"></i></button></div>
                              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                 <div class="accordion-item-content">A utility bill is a detailed invoice, issued and paid once a month from utilities, including electric, natural gas, water, and waste. Utility bills for consumers and businesses are basically structured the same.</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                           <div class="item d-flex flex-column h-100">
                              <div class="accordion-card-header" id="headingSeven"><button class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed" type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Do we need account to access?<i class="fa-solid fa-caret-up"></i></button></div>
                              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                 <div class="accordion-item-content">Yes, We're providing fully security to our customers. so you must have to log in to see your data.</div>
                              </div>
                           </div>
                        </div>
                     </div>       
                  </div>
               </div>
            </div>
         </section>
      </div>
   </section>
</main>
  
<!-- end account-pages -->    
<%- contentFor('FooterJs') %>
