<%- contentFor('HeaderCss') %>

	<%- contentFor('body') %>
		<main>
			<section class="hero_sec">
				<div class="hero_sec_top sec-padding d-flex">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-12 col-lg-6 mb-2">
								<div class="top_left">
									<p class="mt-2">Craft attractive documents with a single click!</p>
									<div class="hero-btn-wrapper">
										<a class="btn hero-btn text-uppercase mt-2" href="/invoice">Make Invoice</a>
										<!-- <a class="text-capitalize chat_link text-decoration-none active"
									href="javascript:void(0);" id="chat_question">Chat for any questions!<svg width="8"
										height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M0.631251 1.40438C0.635626 1.55312 0.696876 1.69312 0.804064 1.79594L6.00813 7L0.804064 12.2041C0.695783 12.3102 0.634532 12.4545 0.634533 12.6066C0.634533 12.8341 0.773439 13.0386 0.984533 13.1239C1.19563 13.2103 1.43735 13.1589 1.59594 12.9959L7.19594 7.39594C7.41469 7.17719 7.41469 6.82281 7.19594 6.60406L1.59594 1.00406C1.43625 0.837812 1.19016 0.785312 0.976876 0.875C0.763594 0.963593 0.626876 1.17359 0.631251 1.40438Z"
											fill="white"></path>
									</svg>
								</a> -->
									</div>
									<p class="mt-3 text-white">At Online Invoice Generator, we prioritize accuracy and
										authenticity.
										we understand the importance of having accurate and professional financial
										documentation.
										Whether you're an individual looking to create a paystub, a business owner in
										need of
										invoices, or a freelancer requiring tax forms like W2s or 1099 Misc, we've got
										you
										covered, and we are committed to providing you with top-notch professional
										results. Rest
										assured that our website is secure, and your data and information are kept
										confidential.
										All the documents you generate on our platform are customizable, realistic, and
										suitable
										for your needs.</p>
									<div class="hero-btn-wrapper">
										<a class="text-capitalize chat_link text-decoration-none active make_bill mt-2"
											href="javascript:void(0);">Other Documents
											<svg width="8" height="14" viewBox="0 0 8 14" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M0.631251 1.40438C0.635626 1.55312 0.696876 1.69312 0.804064 1.79594L6.00813 7L0.804064 12.2041C0.695783 12.3102 0.634532 12.4545 0.634533 12.6066C0.634533 12.8341 0.773439 13.0386 0.984533 13.1239C1.19563 13.2103 1.43735 13.1589 1.59594 12.9959L7.19594 7.39594C7.41469 7.17719 7.41469 6.82281 7.19594 6.60406L1.59594 1.00406C1.43625 0.837812 1.19016 0.785312 0.976876 0.875C0.763594 0.963593 0.626876 1.17359 0.631251 1.40438Z"
													fill="white"></path>
											</svg>
										</a>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6 mb-2">
								<div class="top_right d-flex justify-content-end"><img src="/image/hero/Right.png"
										class="img-fluid" alt="writing"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="hero_sec_bottom">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-6 col-lg-3 d-flex ">
								<div class="d-flex services align-items-center">
									<svg viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M24.75 0.5H2.25C0.984375 0.5 0 1.53125 0 2.75V19.25C0 20.5156 0.984375 21.5 2.25 21.5H24.75C25.9688 21.5 27 20.5156 27 19.25V2.75C27 1.53125 25.9688 0.5 24.75 0.5ZM24.75 19.25H14.2031C14.25 19.0625 14.25 19.4375 14.25 18.2188C14.25 16.7188 12.7969 15.5 11.0625 15.5C10.5938 15.5 10.2188 15.875 9 15.875C7.73438 15.875 7.40625 15.5 6.89062 15.5C5.15625 15.5 3.75 16.7188 3.75 18.2188C3.75 19.4375 3.70312 19.0625 3.75 19.25H2.25V5.75H24.75V19.25ZM16.875 15.5H22.125C22.3125 15.5 22.5 15.3594 22.5 15.125V14.375C22.5 14.1875 22.3125 14 22.125 14H16.875C16.6406 14 16.5 14.1875 16.5 14.375V15.125C16.5 15.3594 16.6406 15.5 16.875 15.5ZM16.875 12.5H22.125C22.3125 12.5 22.5 12.3594 22.5 12.125V11.375C22.5 11.1875 22.3125 11 22.125 11H16.875C16.6406 11 16.5 11.1875 16.5 11.375V12.125C16.5 12.3594 16.6406 12.5 16.875 12.5ZM16.875 9.5H22.125C22.3125 9.5 22.5 9.35938 22.5 9.125V8.375C22.5 8.1875 22.3125 8 22.125 8H16.875C16.6406 8 16.5 8.1875 16.5 8.375V9.125C16.5 9.35938 16.6406 9.5 16.875 9.5ZM9 14C10.6406 14 12 12.6875 12 11C12 9.35938 10.6406 8 9 8C7.3125 8 6 9.35938 6 11C6 12.6875 7.3125 14 9 14Z"
											fill="#F0C000"></path>
									</svg>
									<p class="text-white ms-3 ml-3 my-3 text-capitalize text-center">A team of experts
									</p>
								</div>
							</div>
							<div class="col-6 col-lg-3 d-flex ">
								<div class="d-flex services align-items-center services_second">
									<svg viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M4.5 9.5H1.5C0.65625 9.5 0 10.2031 0 11V14C0 14.8438 0.65625 15.5 1.5 15.5H4.5C5.29688 15.5 6 14.8438 6 14V11C6 10.2031 5.29688 9.5 4.5 9.5ZM12 9.5H9C8.15625 9.5 7.5 10.2031 7.5 11V14C7.5 14.8438 8.15625 15.5 9 15.5H12C12.7969 15.5 13.5 14.8438 13.5 14V11C13.5 10.2031 12.7969 9.5 12 9.5ZM19.5 9.5H16.5C15.6562 9.5 15 10.2031 15 11V14C15 14.8438 15.6562 15.5 16.5 15.5H19.5C20.2969 15.5 21 14.8438 21 14V11C21 10.2031 20.2969 9.5 19.5 9.5ZM4.5 0.5H1.5C0.65625 0.5 0 1.20312 0 2V5C0 5.84375 0.65625 6.5 1.5 6.5H4.5C5.29688 6.5 6 5.84375 6 5V2C6 1.20312 5.29688 0.5 4.5 0.5ZM12 0.5H9C8.15625 0.5 7.5 1.20312 7.5 2V5C7.5 5.84375 8.15625 6.5 9 6.5H12C12.7969 6.5 13.5 5.84375 13.5 5V2C13.5 1.20312 12.7969 0.5 12 0.5ZM19.5 0.5H16.5C15.6562 0.5 15 1.20312 15 2V5C15 5.84375 15.6562 6.5 16.5 6.5H19.5C20.2969 6.5 21 5.84375 21 5V2C21 1.20312 20.2969 0.5 19.5 0.5Z"
											fill="#F0C000"></path>
									</svg>
									<p class="text-white ms-3 ml-3 my-3 text-capitalize text-center">A full range of
										consulting
										services</p>
								</div>
							</div>
							<div class="col-6 col-lg-3 d-flex ">
								<div class="d-flex services align-items-center services_third">
									<svg viewBox="0 0 30 19" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M20.3438 0H16.3125C15.9375 0 15.6094 0.140625 15.3281 0.421875L10.6875 4.64062C9.9375 5.39062 9.9375 6.5625 10.5938 7.26562C11.2031 7.92188 12.4219 8.10938 13.2188 7.40625C13.2188 7.40625 13.2188 7.40625 13.2656 7.40625L16.9688 3.98438C17.2969 3.70312 17.7656 3.70312 18.0469 4.03125C18.3281 4.3125 18.3281 4.78125 18 5.0625L16.7812 6.1875L23.625 11.7188C23.7188 11.8594 23.8594 11.9531 23.9531 12.0938V3L21.4219 0.46875C21.1406 0.1875 20.7656 0 20.3438 0ZM25.5 3.04688V13.5469C25.5 14.3438 26.1562 15.0469 27 15.0469H30V3.04688H25.5ZM27.75 13.5469C27.3281 13.5469 27 13.1719 27 12.7969C27 12.375 27.3281 12.0469 27.75 12.0469C28.125 12.0469 28.5 12.375 28.5 12.7969C28.5 13.1719 28.125 13.5469 27.75 13.5469ZM0 15H3C3.79688 15 4.5 14.3438 4.5 13.5V3.04688H0V15ZM2.25 12.0469C2.625 12.0469 3 12.375 3 12.7969C3 13.1719 2.625 13.5469 2.25 13.5469C1.82812 13.5469 1.5 13.1719 1.5 12.7969C1.5 12.375 1.82812 12.0469 2.25 12.0469ZM22.6406 12.8906L15.6562 7.21875L14.25 8.48438C12.8438 9.79688 10.7344 9.65625 9.46875 8.29688C8.25 6.9375 8.34375 4.78125 9.70312 3.51562L13.5469 0H9.60938C9.1875 0 8.8125 0.1875 8.53125 0.46875L6 3V13.5H6.84375L11.0625 17.3438C12.375 18.4219 14.25 18.1875 15.2812 16.9219H15.3281L16.125 17.625C16.875 18.2344 18 18.1406 18.6094 17.3906L20.0625 15.5625L20.3438 15.7969C20.9531 16.3125 21.8906 16.2188 22.4531 15.5625L22.875 15C23.3906 14.3438 23.2969 13.4062 22.6406 12.8906Z"
											fill="#F0C000"></path>
									</svg>
									<p class="text-white ms-3 ml-3 my-3 text-capitalize text-center">Quick resolution of
										your
										problems.</p>
								</div>
							</div>
							<div class="col-6 col-lg-3 d-flex ">
								<div class="d-flex services align-items-center services_fourth">
									<svg viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M4.5 9.5C6.14062 9.5 7.5 8.1875 7.5 6.5C7.5 4.85938 6.14062 3.5 4.5 3.5C2.8125 3.5 1.5 4.85938 1.5 6.5C1.5 8.1875 2.8125 9.5 4.5 9.5ZM25.5 9.5C27.1406 9.5 28.5 8.1875 28.5 6.5C28.5 4.85938 27.1406 3.5 25.5 3.5C23.8125 3.5 22.5 4.85938 22.5 6.5C22.5 8.1875 23.8125 9.5 25.5 9.5ZM27 11H24C23.1562 11 22.4062 11.375 21.8438 11.8906C23.7656 12.9219 25.0781 14.7969 25.4062 17H28.5C29.2969 17 30 16.3438 30 15.5V14C30 12.3594 28.6406 11 27 11ZM15 11C17.8594 11 20.25 8.65625 20.25 5.75C20.25 2.89062 17.8594 0.5 15 0.5C12.0938 0.5 9.75 2.89062 9.75 5.75C9.75 8.65625 12.0938 11 15 11ZM18.5625 12.5H18.1875C17.2031 12.9688 16.125 13.25 15 13.25C13.8281 13.25 12.75 12.9688 11.7656 12.5H11.3906C8.39062 12.5 6 14.9375 6 17.9375V19.25C6 20.5156 6.98438 21.5 8.25 21.5H21.75C22.9688 21.5 24 20.5156 24 19.25V17.9375C24 14.9375 21.5625 12.5 18.5625 12.5ZM8.10938 11.8906C7.54688 11.375 6.79688 11 6 11H3C1.3125 11 0 12.3594 0 14V15.5C0 16.3438 0.65625 17 1.5 17H4.54688C4.875 14.7969 6.1875 12.9219 8.10938 11.8906Z"
											fill="#F0C000"></path>
									</svg>
									<p class="text-white ms-3 ml-3 my-3 text-capitalize text-center">100% free first
										consultation
										for all new clients</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="tool_sec sec-padding" id="make_bill">
				<div class="container">
					<h2 class="text-capitalize text-center font-size">Easy to use, forever tools.</h2>
					<div class="row">
						<div class="custom-col-12 col-sm-12 col-md-12 total_items">
							<div class="items">
								<a href="/invoice-generator">
									<div class="tool_img"><img class="w-100 position-absolute"
											src="/image/tool/invoice.png" alt="invoice"></div>
									<h5>Invoice</h5>
									<p class="text-capitalize">You Are Just One Click Away To Generate Your Invoice.
										Create Your
										Invoice For Free.</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-lightblue-1 sec-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="pr_sec_left">
								<img src="/image/process/process.png" class="img-fluid" alt="process" width="102">
								<h6 class="text-capitalize font-size">What Makes Our Invoicing Software the Right Choice?
								</h6>
								<div class="row">
									<div class="col-xxl-6 col-12">
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">User-Friendly Interface</p>
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">Cost-Efficient</p>
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">Automatic Calculation</p>
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">Mobile-Friendly</p>
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">Accurate & Time Savings</p>
									</div>
									<div class="col-xxl-6 col-12">
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">Affordable Price</p>
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">Data Security</p>
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">No Hidden Costs</p>
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">Environmental Benefits</p>
										<p class="d-flex align-items-center text-capitalize gap-2"><img
												src="/image/pricing/Arrow.png" alt="arrow">Multiple Payment Options</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 d-flex justify-content-center">
							<div class="pr_sec_right">
								<div class="bill_img position-relative"><img src="/image/process/Invoice.png"
										class="img-fluid " alt="invoice"><img src="/image/process/bill_play_bottom.png"
										class="img-fluid bill_bottom position-absolute" alt="play video"><button
										class="videoModalTriger play_video position-absolute" type="button"
										data-bs-toggle="modal" data-bs-target="" data-videomodal=""><img
											src="/image/process/play_icon.png" class="img-fluid"
											alt="play video"></button>
								</div>
								<div class="modal fade" id="videoModal" tabindex="-1" role="dialog"
									aria-labelledby="videoModal" aria-hidden="true">
									<div class="modal-dialog modal-lg d-flex align-items-center mx-auto h-100 m-0 p-3"
										role="document">
										<div class="modal-content position-relative">
											<button type="button" id="closeSimple"
												class="close btn-round position-absolute" data-dismiss="modal"
												aria-label="Close"><span aria-hidden="true">×</span></button>
											<div class="embed-responsive embed-responsive-16by9"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="ease_way_sec sec-padding">
				<div class="container">
					<h2 class="text-capitalize text-center font-size">Document Creation Made Easy</h2>
					<div class="row">
						<div class="col-md-4 total_items">
							<div class="items ">
								<div class="tool_img mx-auto position-relative"><img class="d-block w-100"
										src="/image/tool/step1.png" alt="stpe-1">
								</div>
								<h5 class="text-center text-capitalize">Enter Your Details</h5>
								<p class="text-center text-capitalize">We've simplified the process! All the fields are
									labeled,
									ensuring
									you know exactly where to input your information.</p>
							</div>
						</div>
						<div class="col-md-4 total_items">
							<div class="items ">
								<div class="tool_img mx-auto position-relative"><img class="d-block w-100"
										src="/image/tool/step2.png" alt="step-2">
								</div>
								<h5 class="text-center text-capitalize">Review Your Document</h5>
								<p class="text-center text-capitalize">After completing all the relevant fields, take a
									moment
									to preview
									your document and make any final adjustments before making your purchase.
								</p>
							</div>
						</div>
						<div class="col-md-4 total_items">
							<div class="items ">
								<div class="tool_img mx-auto position-relative"><img class="d-block w-100"
										src="/image/tool/step3.png" alt="step-3">
								</div>
								<h5 class="text-center text-capitalize">Download Your Document</h5>
								<p class="text-center text-capitalize">Once your purchase is complete, Your document
									will be
									waiting for
									you, ready to be downloaded and printed or shared the document with a link.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-lightblue-1 sec-padding">
				<div class="container">
					<div class="row main_process">
						<div class="col-lg-2 col-md-1"></div>
						<div class="col-lg-8 col-md-10">
							<h2 class="text-capitalize text-center font-size">Customers Review</h2>
							<div class="reviews-wrapper">
								<h2>Review</h2>
							</div>
						</div>
						<div class="col-lg-2 col-md-1"></div>
					</div>
				</div>
			</section>
			<section class="info_sec sec-padding">
				<div class="container">
					<div class="accordion" id="accordionExample">
						<h2 class="text-center font-size mb-5">FAQ's</h2>
						<div class="row pt-3">
							<div class="col faq_question">
								<div class="col-lg-12 mb-2">
									<div class="item d-flex flex-column h-100">
										<div class="accordion-card-header" id="headingOne"><button
												class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed"
												type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
												aria-expanded="false" aria-controls="collapseOne">How much does it cost
												to use
												your
												invoice Invoicing Software?<i class="fa-solid fa-caret-up"></i></button>
										</div>
										<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
											data-parent="#accordionExample">
											<div class="accordion-item-content">The Invoicing Software is free to use for
												both
												personal
												and commercial use. Use it as often as you’d like, share it with your
												colleagues, or
												post a link to it from your blog.</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 mb-2">
									<div class="item d-flex flex-column h-100">
										<div class="accordion-card-header" id="headingTwo"><button
												class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed"
												type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
												aria-expanded="false" aria-controls="collapseTwo">Are these bills okay
												for tax
												purposes?<i class="fa-solid fa-caret-up"></i></button></div>
										<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
											data-parent="#accordionExample">
											<div class="accordion-item-content">Although these bills do have the
												information
												required for general tax purposes, we recommend that you contact your
												tax
												professional before using them as official documentation.</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 mb-2">
									<div class="item d-flex flex-column h-100">
										<div class="accordion-card-header" id="headingThree"><button
												class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed"
												type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
												aria-expanded="false" aria-controls="collapseThree">Is Invoicing Software
												app
												available?<i class="fa-solid fa-caret-up"></i></button></div>
										<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="accordion-item-content">No, Currently our application is not
												available,
												but
												you can manage your bills and finances from the web.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col faq_question">
								<div class="col-lg-12 mb-2">
									<div class="item d-flex flex-column h-100">
										<div class="accordion-card-header" id="headingFifth"><button
												class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed"
												type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifth"
												aria-expanded="false" aria-controls="collapseFifth">How secure is Bill
												Generator?<i class="fa-solid fa-caret-up"></i></button></div>
										<div id="collapseFifth" class="collapse" aria-labelledby="headingFifth"
											data-parent="#accordionExample">
											<div class="accordion-item-content">Invoicing Software guarantees complete data
												security.
												Our data centers are hosted in completely secure locations and is
												protected from
												physical and logical attacks.</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 mb-2">
									<div class="item d-flex flex-column h-100">
										<div class="accordion-card-header" id="headingSix"><button
												class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed"
												type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
												aria-expanded="false" aria-controls="collapseSix">What is utility
												bill?<i class="fa-solid fa-caret-up"></i></button></div>
										<div id="collapseSix" class="collapse" aria-labelledby="headingSix"
											data-parent="#accordionExample">
											<div class="accordion-item-content">A utility bill is a detailed invoice,
												issued and
												paid once a month from utilities, including electric, natural gas,
												water, and
												waste.
												Utility bills for consumers and businesses are basically structured the
												same.
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 mb-2">
									<div class="item d-flex flex-column h-100">
										<div class="accordion-card-header" id="headingSeven"><button
												class="btn btn_link d-flex justify-content-between align-items-center text-capitalize collapsed"
												type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
												aria-expanded="false" aria-controls="collapseSeven">Do we need account
												to
												access?<i class="fa-solid fa-caret-up"></i></button></div>
										<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
											data-parent="#accordionExample">
											<div class="accordion-item-content">Yes, We're providing fully security to
												our
												customers. so you must have to log in to see your data.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- end account-pages -->
		<%- contentFor('FooterJs') %>