<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>

<main>
    <section class="review_hero d-flex align-items-center">
       <div class="container">
          <h3 class="text-capitalize text-white text-center font-size font-weight-bold">Privacy Policy</h3>
       </div>
    </section>
    <section class="sec-padding">
        <div class="container">   
            <div class="privacy_wrap">
                <h3>Onlinebill</h3>
                <h3>Last Updated January 31, 2023</h3>
            </div>            
            <div class="privacy_wrap">
                <p>Our company(“Onlinebill” or “us”, “our” or “we”) is committed to protecting and respecting each User’s privacy. Our online Privacy Policy is designed to describe our privacy practices and principles in a format that is easy to read and understand. Whenever the term “Application” is used, it includes our Software, Application and our Website. By using the Application, you acknowledge that You have read and agree to our Privacy Policy, and you agree to be bound by its terms.
                </p>
            </div>
            <div class="privacy_wrap"> 
                <h2>Retention of Your Personal Data</h2>
                <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
                <p><br></p>
                <p>What personal information do we collect from the people that visit our blog, website or app?</p>
                <p><br></p>
                <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, social security number or other details to help you with your experience.</p> 
            </div>
            <div class="privacy_wrap"> 
                <h2>When do we collect information?</h2> 
                <p>We collect information from you when you place an order or enter information on our site.</p> 
            </div>
            <div class="privacy_wrap"> 
                <h2>Automatic data collection</h2> 
                <p>We, our service providers, and our business partners may automatically log personal information about you, your computer or mobile device, and your interaction over time with the Services, such as:</p> 
                <ul class="mt-2 privacy_listing"> 
                    <li><p><strong>Device information. </strong> We may collect information about your device(s) such as IP addresses, log information, error messages, device type, and unique device identifiers. For example, we may collect IP addresses from you as part of our sign in and security features.</p></li> 
                    <li><p><strong>Usage information. </strong>We may collect information about your use of the onlinebillgenerator Platform, such as the pages you viewed, the services and features you used or interacted with, your browser type, and details about any links or communications with which you interacted.</p> </li>
                    <li><p><strong>Information stored locally. </strong>Some of our web-enabled desktop services and offerings synchronize with the information on your computer. In doing so, we may collect information such as device information, product usage, and error reports. We may also store personal information locally on your device.</p></li>
                    <li><p><strong>Communication interaction data. </strong>We or our third-party service providers may collect information from email providers, communication providers and social networks, such as your interactions with our email, text or other communications (e.g., whether you open and/or forward emails) – we may do this through use of pixel tags (which are also known as clear GIFs), which may be embedded invisibly in our emails.</p></li> 
                    <li><p><strong>Online behavioral data. </strong>We may automatically collect certain personal information about your use and interactions with our website, mobile application, social media websites, and marketing campaigns that we or our customers organize, including device information (such as your IP address and unique device IDs), page view information and search results, links, and if you are a customer contact, whether or not a campaign presented or sent to you using our offerings has been viewed, delivered, opened, clicked on, whether it has bounced or was treated as spam.</p></li> 
                </ul> 
            </div>
            <div class="privacy_wrap"> 
                <h2>How do we use your information?</h2> 
                <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p> 
                <ul class="mt-2 privacy_listing"> 
                    <li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                    <li>To allow us to better service you in responding to your customer service requests.</li>
                    <li>To quickly process your transactions.</li>
                    <li>To send periodic emails regarding your order or other products and services.</li>
                    <li>To run and manage our business, including resolving billing and financial disputes.</li>
                    <li>To evaluate your eligibility for marketing offers, products and services.</li>
                    <li>To provide features to you, such as your free credit reports and scores.</li>
                    <li>To communicate with you, such as sending you electronic notifications concerning your financial privacy.</li>
                    <li>To understand your needs and interests, and personalize your experience with the Services and our communications.</li>
                    <li>To provide you with support and resolve disputes.</li>
                    <li>To authenticate your identity.</li>
                </ul>
                <p>We will not share such personal financial information with third parties other than those third parties such as banks, processing gateways and merchant processors required to process a User’s purchase, and Users understand that ThePayStubs.com cannot control how the banks, processing gateways or merchant processors will use such personal financial information. Therefore, Users using our Application and Software hereby consent to such sharing of personal financial information. Each User agrees to assume the risk and agrees that it is their responsibility to properly handle, secure, not store and destroy such personal financial information as may be necessary to protect it from misuse. You agree that ThePayStubs.com shall not be liable to Users or any third party for misuse of such data or personal financial information.</p>
            </div>
            <div class="privacy_wrap"> 
                <h2>Tracking Software</h2> 
                <p>We may use various types of tracking software (“Tracking Software”) to track mouse movement, scrolling, time spent on a page/screen, pages/screens visited, and clicks in order to better understand our Users’ needs and to optimize the use of our Software and Application.</p>
                <p><br></p>
                <p>Our Tracking Software may capture screen shots of Users’ mouse movements, scrolling, and clicking habits which helps us understand what Users want, care about, and do when using our Application by visually representing their clicks, taps and scrolling behavior. Some of the reasons why we use heat map software are as follows: to see if Users are reaching important Content or failing to see it, to find and use a page’s main links, buttons, opt-ins, and calls to action (“CTAs”), to see if Users are getting distracted by non-clickable elements, and to compare usage against mobile, tablet and desktop devices.</p>
                <p><br></p>
                <p>We use Tracking Software to help us better understand our Users’ experience (e.g. how much time they spend on which pages, which links they choose to click, what Users do and don’t like, etc.) and this enables us to build and maintain our Application and Software with User feedback. This Tracking Software uses cookies and other technologies to collect data on our Users’ behavior and their devices. This includes a device's IP address (processed during your Website visit or use of our Application and stored in a de-identified form), device screen size, device type (unique device identifiers), browser information, geographic location (country only), and the preferred language used to display our Application. This Tracking Software stores this information on our behalf.</p>
            </div>
            <div class="privacy_wrap"> 
                <h2>How do we protect visitor information?</h2> 
                <p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible. We use regular Malware Scanning.</p>
                <p><br></p>
                <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
                <p><br></p>
                <p>We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</p>
                <p><br></p>
                <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
            </div>
            <div class="privacy_wrap"> 
                <h3>Security Not Guaranteed</h3>
                <p>Onlinebillg uses reasonable organizational, technical, and administrative measures to protect each User’s personal information under our control. However, we cannot guarantee 100% percent protection and security of such personal information. Please do not email or text us credit card information and/or other sensitive information.</p>
            </div>
            <div class="privacy_wrap"> 
                <h3>What we don't do with the Information we gather:</h3>
                <p>We will not disclose, sell, distribute, rent, lease or use any of a User’s data or pass on any such personal information to third parties, which are not our officers, directors, members, managing members, employees, business partners, affiliates, strategic partners, licensors, licensees, independent contractors, third party service providers, agents or representatives, unless we have your permission, governmental agencies request the information, or are required by law to do so.</p>
                <p><br></p>
                <p>We do not store your credit card information. The credit card information and actual processing does not take place on and is not stored on our servers. The transaction is processed on the servers of the particular credit card processor we use to process the transaction.</p>
            </div>
            <div class="privacy_wrap"> 
                <h3>Security</h3>
                <p>We are committed to ensuring that personal information is secure. All information provided to us is stored on our secure servers. In order to prevent unauthorized access or disclosure, we have taken all reasonable steps and put in place suitable safeguards to secure the information we collect from Users online.</p>
                <p><br></p>
                <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect each User’s personal data, we cannot guarantee the security of their data transmitted to our Application; any transmission is at the risk of each User. Once we have received personal information, we will use the necessary procedures and security features to try to prevent unauthorized access. We will take all reasonable steps necessary to ensure that personal information and data is treated securely and in accordance with this Privacy Policy.</p>
            </div>
            <div class="privacy_wrap">
                <h2>Do we use 'cookies'?</h2>
                <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, cookies are necessary for the use of our Website andare necessary during the document creation process, as well as to save your document in case it is abandoned or your are called away mid-way through the process and come back later to complete it.They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
            </div>
            <div class="privacy_wrap">
                <h2>We use cookies to:</h2>
                <ul class="mt-2 privacy_listing">
                    <li>Help remember and process the items in the shopping cart.</li>
                    <li>Understand and save user's preferences for future visits.</li>
                    <li>Keep track of advertisements.</li>
                    <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted ........third party services that track this information on our behalf.</li>
                </ul>
                <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</p>
            </div>
            <div class="privacy_wrap"> 
                <h3>If users disable cookies in their browser:</h3>
                <p>If you disable cookies, some features will be disabled as It will turn off some of the features that make your site experience more efficient and some of our services will not function properly.</p>
            </div>
            <div class="privacy_wrap"> 
                <h3>Third party links</h3>
                <p>We do not include or offer third party products or services on our website.</p>
            </div>
            <div class="privacy_wrap">
                <h2>According to CalOPPA we agree to the following:</h2>
                <p>Users can visit our site anonymously Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after entering our website. Our Privacy Policy link includes the word 'Privacy', and can be easily found on the page specified above.</p>
            </div>
            <div class="privacy_wrap">
                <h2>Users will be notified of any privacy policy changes:</h2>
                <ul class="mt-2 privacy_listing">
                    <li>On our Privacy Policy Page Users are able to change their personal information:
                        <ul>
                            <li>By emailing us</li>
                            <li>By chatting with us or sending us a ticket</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="privacy_wrap">
                <h2>How does our site handle do not track signals?</h2>
                <p>We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
                <p><br></p>
                <p>Does our site allow third party behavioral tracking?</p>
                <p><br></p>
                <p>It's also important to note that we allow third party behavioral tracking</p>
            </div>
            <div class="privacy_wrap">
                <h2>COPPA (Children Online Privacy Protection Act)</h2>
                <p>When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online. We do not specifically market to children under 13.</p>
            </div>
            <div class="privacy_wrap">
                <h2>Fair Information Practices</h2>
                <p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
                <p><br></p>
                <p>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</p>
                <p><br></p>
                <p>We will notify the users via email within 7 business days.</p>
                <p><br></p>
                <p>We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.</p>
            </div>
            <div class="privacy_wrap">
                <h2>Changes to our Privacy Policies</h2>
                <p>From time to time we may change or update our Privacy Policy. We reserve the right to make changes or updates at any time. If we make material changes to the way we process your personal information, we will notify you by posting a notice in the PayStubs Platform; by sending you a notification; or by other means consistent with applicable law.</p>
            </div>
            <div class="privacy_wrap">
                <h2>CAN SPAM Act</h2>
                <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
                <p><br></p> 
                <p><strong>We collect your email address in order to:</strong></p>
                <p><br></p>
                <p><strong>To be in accordance with CANSPAM we agree to the following:</strong></p>
                <p><br></p>
                <p>If at any time you would like to unsubscribe from receiving future emails, you can email us and we will promptly remove you from ALL correspondence.</p>
            </div>
        </div>
    </section>
 </main>
  
<!-- end account-pages -->    
<%- contentFor('FooterJs') %>