<nav class="navbar navbar-expand topbar mb-4 mb-md-5 px-4 shadow">
    <!-- Sidebar Toggle -->
    <button type="button" id="sidebarCollapse" class="btn toggle_btn">
        <i class="fas fa-align-left"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav me-sm-2 ms-auto">
        <li class="nav-item">
            <div class="dropdown">
                <a href="javascript:void(0)" class="nav-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">       
                    <span class="me-2 fs-sm-5">Invoicing Software</span>
                    <img src="/image/profile.png" alt="Profile" width="26">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">User View</a></li>
                    <li><a class="dropdown-item" href="#">Account Settings</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>